name: ci
on:
  push:
    branches:
      - master
    pull_request:
      - master
jobs:
  deploy:
    runs-on: ubuntu-latest
    steps:
      - uses: actions/checkout@v3
        with:
          fetch-depth: 0
      - name: Check source code
        uses: actions/checkout@v2
      - uses: actions/setup-python@v2
        with:
          python-version: 3.x
      - run: pip install mkdocs-material
      - run: pip install mkdocs-glightbox
      - run: pip install mkdocs-git-revision-date-localized-plugin
      - run: python ./script.py
      - run: mkdocs gh-deploy --force
