name: ci
on:
  push:
    branches:
      - master
    pull_request:
      - master
permissions:
  contents: write
jobs:
  deploy:
    runs-on: ubuntu-latest
    steps:
      - uses: actions/checkout@v4
        with:
          fetch-depth: 0
      - uses: actions/setup-python@v3
        with:
          python-version: 3.x
      - uses: actions/cache@v4
        with:
          key: ${{ github.ref }}
          path: .cache
      - run: pip install mkdocs-material
      - run: pip install mkdocs-glightbox
      - run: pip install mkdocs-git-revision-date-localized-plugin
      - run: pip install pillow cairosvg
      - run: python ./script.py
      - run: mkdocs gh-deploy --force
